<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-12">
    <%= image_tag "logo.png", size: "261x200", class: "header-logo" %>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-12">
    <div class="home-content">
      <h1> We Offer </h1>
      <div class="col-lg-6 col-xs-12">
        <p class="checkbox"> <%= fa_icon "check-square-o", text: "Bookkeeping" %> </p>
        <p class="checkbox"> <%= fa_icon "check-square-o", text: "Payroll" %> </p>
      </div>
      <div class="col-lg-6 col-xs-12">
        <p class="checkbox checkbox-right" id="tax-prep"> <%= fa_icon "check-square-o", text: "Tax Preparation" %> </p>
        <p class="checkbox checkbox-right" id="consulting"> <%= fa_icon "check-square-o", text: "Consulting" %> </p>
      </div>
    </div>

    <div class="home-content">
      <h1> Choose Us Because We Are </h1>
      <div class="col-lg-6 col-xs-12">
        <p class="checkbox"> <%= fa_icon "check-square-o", text: "Affordable" %> </p>
        <p class="checkbox"> <%= fa_icon "check-square-o", text: "Reliable" %> </p>
      </div>
      <div class="col-lg-6 col-xs-12">
        <p class="checkbox checkbox-right" id="experienced"> <%= fa_icon "check-square-o", text: "Experienced" %> </p>
        <p class="checkbox checkbox-right"> <%= fa_icon "check-square-o", text: "Industry Experts" %> </p>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 get-started">
    <h1> Ready to Get Started? </h1>
    <%= form_for @contact, url: contact_us_path do |f| %>
      <%= f.text_field :name, required: true, placeholder: "Name" %> <br/>
      <%= f.email_field :email, required: true, placeholder: "Email" %> <br/>
      <%= f.telephone_field :phone, required: true, placeholder: "Phone" %> <br/>
      <%= f.text_area :comment, required: true, placeholder: "What Can We Help You With?" %> <br/>
      <%= f.submit "Contact Us", class: "btn" %>
    <% end %>
  </div>
</div>
