<div class="row">
  <div class="wrapper">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <ul class="resources hidden-xs-down">
        <li> <%= image_tag "lighthouse.png", size: "35x83" %> <%= link_to "Where's My Federal Refund?", "https://www.irs.gov/refunds", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "35x83" %><%= link_to "Where's My Nebraska Refund?", "http://www.revenue.nebraska.gov/refund/refunds.html", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "35x83" %> <%= link_to "How Long Should I Keep Tax Records?", "https://www.irs.gov/businesses/small-businesses-self-employed/how-long-should-i-keep-records", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "35x83" %><%= link_to "IRS Publications", "https://apps.irs.gov/app/picklist/list/publicationsNoticesPdf.html", target: "_blank" %></li>
      </ul>
      <ul class="resources hidden-sm-up">
        <li> <%= image_tag "lighthouse.png", size: "25x59" %> <%= link_to "Where's My Federal Refund?", "https://www.irs.gov/refunds", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "25x59" %><%= link_to "Where's My Nebraska Refund?", "http://www.revenue.nebraska.gov/refund/refunds.html", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "25x59" %> <%= link_to "How Long Should I Keep Tax Records?", "https://www.irs.gov/businesses/small-businesses-self-employed/how-long-should-i-keep-records", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "25x59" %><%= link_to "IRS Publications", "https://apps.irs.gov/app/picklist/list/publicationsNoticesPdf.html", target: "_blank" %></li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <ul class="resources hidden-xs-down">

        <li> <%= image_tag "lighthouse.png", size: "35x83" %><%= link_to "2016 Tax Rates", tax_rates_path %></li>
        <li> <%= image_tag "lighthouse.png", size: "35x83" %> <%= link_to "Financial Calculators", "http://www.bankrate.com/calculators.aspx", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "35x83" %><%= link_to "Nebraska College Savings Plan", "https://www.nest529direct.com/", target: "_blank" %></li>
      </ul>
      <ul class="resources hidden-sm-up">
        <li> <%= image_tag "lighthouse.png", size: "25x59" %><%= link_to "2016 Tax Rates", tax_rates_path %></li>
        <li> <%= image_tag "lighthouse.png", size: "25x59" %> <%= link_to "Financial Calculators", "http://www.bankrate.com/calculators.aspx", target: "_blank" %></li>
        <li> <%= image_tag "lighthouse.png", size: "25x59" %><%= link_to "Nebraska College Savings Plan", "https://www.nest529direct.com/", target: "_blank" %></li>
      </ul>
    </div>


  </div>
</div>

<div class="push2"></div>
