<div class="row">
  <div class="col-md-12">
    <div class="wrapper">
      <% @posts.each do |post| %>
        <h1> <%= post.title %> </h1>
        <div class="author-date">
          <span class="author"> By <%= post.author %> </span>  <span class="dateline"><span class="date"><%= post.updated_at.strftime('%B %e, %Y') %> </span> </span>
        </div>
        <div> <%= post.preview %> </div>
        <div class="read-more">
          <%= button_to "Read More", post_path(post.slug), class: "btn", method: :get %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= will_paginate @posts %>

